{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% trans 'Edit profile' %}{% endblock %}

{% block content %}
<link href="{% static 'file_form.css' %}" rel="stylesheet">
    <div class='container'>
        <h1 class='mt-4'>{% trans 'Edit profile' %}</h1>
        <hr class='mt-0'>
        {% if messages %}
            {% for message in messages %}
                <!-- VALID -->
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-success mx-4 mt-2" role="'alert">
                    {% blocktrans %}{{ message }}{% endblocktrans %}
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action='.' method='POST' enctype='multipart/form-data'>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            {% csrf_token %}
            <hr class='mt-4'>
            <div class='row'>
                <button type='submit' class='btn btn-success ml-2'>{% trans 'Save changes' %}</button>
                <a href="{% url 'password_change' %}" role='button' class='text-info ml-4 mt-2'>{% trans 'Change password' %}</a>
            </div>
        </form>
    </div>
{% endblock %}