{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
    <div class='container'>
        <h1 class='mt-4'>{% trans 'Change password' %}</h1>
        <hr class='mt-0 mb-4'>
        <form action='.' method='POST'>
            {{ form|crispy }}
            <hr><button type='submit' class='btn btn-success mt-2 mb-2'>{% trans 'Save' %}</button></hr>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}