{% extends 'san_diego/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset done' %}{% endblock %}

{% block content %}
    <div class='mt-4'>    
        <div class='container'>
            <div class='alert alert-success' role='alert'>
                <h4 class='alert-heading'>{% trans 'Password reset' %}</h4>
                <hr class='mt-0 mb-4'>
                <p>{% trans 'Congratulations! You can now' %} <a href="{% url 'login' %}">{% trans 'log in' %}</a> {% trans 'with your new password' %}</p>
            </div>
        </div>
    </div>
{% endblock %}