{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
    <div class='container'>
        <h1 class='mt-4'>{% trans 'Forgot your password' %}?</h1>
        <hr class='mt-0 mb-4'>
        <p>{% trans "To reset your password, enter an e-mail you used for signing up" %}.</p>
        <form action='.' method='POST'>
            {{ form|crispy }}
            <hr><button type='submit' class='btn btn-primary mt-2 mb-2'>{% trans "Send" %}</button></hr>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}