{% extends 'san_diego/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class='container'>
        {% if validlink %}
            <h1 class='mt-4'>Reset your password</h1>
            <hr class='mt-0 mb-4'>
            <form action='.' method='POST'>
                {{ form|crispy }}
                <hr><button type='submit' class='btn btn-success mt-2 mb-2'>Change password</button></hr>
                {% csrf_token %}
            </form>
        {% else %}
            <div class='alert alert-danger mt-2' role='alert'>
                <p>Link is invalid or expired. <a href="{% url 'password_reset' %}">Try again.</a></p>
            </div>
        {% endif %} 
    </div>
{% endblock %}