<!doctype html>
{% load i18n %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/> 

    <link href="{% static 'font.css' %}" rel="stylesheet">
    <title>{% block title %}San Diego{% endblock %}</title>

    <!-- Custom styles for this template -->
    {% block custom_css %}<link href="{% static 'mainn.css' %}" rel="stylesheet">{% endblock custom_css %}
  </head>
  <body>

    <!-----  Top navbar  ----->
		<header style="min-height: auto">
      <nav id ='navbar' class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: rgba(26,29,34,255); z-index: 99;">
        <!-- <a href="#menu-toggle" type='button' class="btn btn-default" id="menu-toggle"><span class="dark-blue-text"><i
          class="fas fa-bars fa-1x"></i></span></a> -->
        <div class='container'>
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/sandiego.png' %}" alt="" width="30" height="30">
            San Diego
          </a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if not request.user.is_authenticated %}
              <ul class="navbar-nav mr-auto ml-4">
                <li class="nav-item">
                  <a class="nav-link" style="color: red;" href="#quotation">{% trans "Wycena" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link ml-2" style="color: red;" href="#app">{% trans "Aplikacja" %}</a>
                </li>
              </ul>
              <a class="btn" style="color: red" href="{% url 'login' %}" role="button">{% trans 'Log in' %}</a>
            {% else %}
              <div class='ml-auto'>{% trans "You're logged in as" %} {{user}}.</div>
              <a class="btn" style="color: red" href="{% url 'logout' %}" role="button">{% trans 'Log out' %}</a>
            {% endif %}
            </ul>
          </div>
        </div>
      </div>
      </nav>
      <!-----  Top navbar end  ----->
      <div id='wrapper' class='toggled'>
        <!----- Sidebar ----->
        {% if user.is_authenticated %}
        {% include 'san_diego/sidebar.html' %}
        {% endif %}
        <!-----  Main content   ----->
        <div id="page-content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-----   Main content end   ----->
      </div>
    </header>
    <!--LANGUAGE TOGGLE SWITCH YET TO BE APPLIED-->
    <!--<div class="custom-control custom-switch fixed-bottom d-flex justify-content-end m-3">
      <span style="margin-right:43px;">ENG</span>
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">PL</label>
    </div>-->

    <!--- LANGUAGE BUTTON --->
    <div class="fixed-bottom d-flex justify-content-end p-3">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      <div class="languages">
        <div class="btn-group">
          <div class="btn-group dropup" role="group">
            <button type="button" class="btn btn-sm btn-info dropdown-toggle dropdown-toggle-split" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
              <span class="sr-only">Toggle Dropleft</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for language in languages %}
              <a class="dropdown-item" href="/{{ language.code }}/{{ request.get_full_path|slice:"4:" }}" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                {{ language.name }}
              </a>
              {% endfor %}
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-info disabled" disabled>
            {% trans 'Language' %}: {{ LANGUAGE_CODE }}
          </button>
        </div>
      </div>
    </div>

    <!-----  Footer  ----->
    {% if not user.is_authenticated %}
    <footer id="footer" class="text-white text-center" style="background-color: rgba(26,29,34,255);">
      <div class='container-fluid px-0 mx-0' style="background-color: rgba(23,24,28,255); height: 5vh">
      </div>
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 pt-2 mb-md-0">
            {% comment %} <h5 class="text-uppercase mb-4">{% trans 'About company' %}</h5> {% endcomment %}
            <div><img src="{% static 'images/sandiego.png' %}" id="icon" alt="User Icon" width='150' height='150' /></div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 pt-2 mb-md-0">
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home" style="color: red;"></i></span><span class="ms-2">Cmolas 431b, 36-105 Cmolas</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope" style="color: red;"></i></span><span class="ms-2">sssandy1988@o2.pl</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone" style="color: red;"></i></span><span class="ms-2">+48 669 393 761</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 pt-2 mb-md-0">
            <h5 class="text-uppercase mb-4">{% trans 'Opening hours' %}</h5>

            <table class="table text-center">
              <tbody class="font-weight-normal">
                <tr>
                  <td>{% trans 'Pon' %} - {% trans 'Pt' %}:</td>
                  <td>9:00 - 17:00</td>
                </tr>
                <tr>
                  <td>{% trans 'Sob' %}</td>
                  <td>9:00 - 14:00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    </footer>
    {% endif %}

    <!-----   Footer end   ----->

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
