{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Add car' %}{% endblock %}

{% block content %}
<style>
    .hidden {
        display: none
    }
</style>
<div class='container'>
    <h1 class='mt-4'>{% trans 'Add car' %}</h1>
    <form method='POST' action='' enctype='multipart/form-data' id='carForm' data-carmodels-url="{% url 'ajax_load_car_models' %}">
        <hr class='mt-0 mb-4'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        {{ form.errors|as_crispy_errors }}
        {{ form.client|as_crispy_field }}
        <div class='form-row'>
            <div class='form-group col-md-6 mb-0'>
                {{ form.car_make|as_crispy_field }}
            </div>
            <div class='form-group col-md-6 mb-0'>
                {{ form.car_model|as_crispy_field }}
            </div>
        </div>
        <div class='form-row'>
            <div class='col-4'>
                {{ form.year|as_crispy_field }}
            </div>
            <div class='col-4'>
                {{ form.fuel_type|as_crispy_field }}
            </div>
            <div class='col-4'>
                {{ form.engine|as_crispy_field }}
            </div>
        </div>
        {{ form.vin|as_crispy_field }}
        {{ form.extra_info|as_crispy_field }}
        <hr><button type='submit' class='btn btn-success mt-2 mb-2'>Save</button>
    </form> 
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    // <!-- Change car models depending on car make selected -->
    $("#id_car_make").change(function () {
        var url = $("#carForm").attr("data-carmodels-url");  
        var carMakeId = $(this).val(); 
        console.log(url)
        console.log(carMakeId)

        $.ajax({ 
            url: url,
            data: {
                'car_make': carMakeId
            },
            success: function (data) {
                $("#id_car_model").html(data);
            }
        });

    });
</script>
{% endblock %}