{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}San Diego{% endblock %}

{% block content %}
{% include 'san_diego/messages.html' %}
  <body>
        <div class="bg-image" style="display: flex; position: relative; align-items: center; justify-content: center;">
          <img src="{% static 'images/san_diego.png' %}" alt="Responsive image" class='w-100'>
          {% comment %} <div class='mask' style="background-color: rgba(0, 0, 0, 0.6)"> {% endcomment %}
            {% comment %} <div class='d-flex justify-content-center'>
              <img src="{% static 'images/repairing-service.png' %}"  style='padding-top: 1.7cm; width: auto; height: 170px'/>
            </div> {% endcomment %}
          </div>
        </div>
    <section>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div data-spy="scroll" data-target="#navbar" data-offset="0">
      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row pt-4">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/air-conditioning.jpg' %}" alt="Generic placeholder image" width="180" height="180">
            <h3>{% trans 'Repair' %}</h3>
            <p class='text-muted' style='white-space: pre-line'><i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Regular performance maintenance' %}</h6>
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Braking system' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Drive system' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Exhaust system' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Steering' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Electrical system' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Suspension' %}</p>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/car-diagnose.jpg' %}" alt="Generic placeholder image" width="180" height="180">
            <h2>{% trans 'Diagnostics' %}</h2>
            <p class='text-muted'>{% trans 'Computer diagnostics is one of the basic methods of verification of' %}
              {% trans 'potential malfunctions in a car.' %}
              {% trans 'It allows to quickly detect any abnormalities' %}
              {% trans 'related to many systems.' %}
            </p>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/car-repair.jpg' %}" alt="Generic placeholder image" width="180" height="180">
            <h3>{% trans 'AC' %}</h3>
            <p class='text-muted' style='white-space: pre-line'><i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Leakage testing' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'System repairing' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'AC charging' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Fumigation' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Ozonation' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Cabin filter replacement' %}
            <i class="fas fa-wrench pr-2" style='color: red'></i>{% trans 'Comprehensive module testing' %}</p>
          </div>
        </div>
      </div>
      <!-- START THE FEATURETTES -->
      <div id="quotation" class='container-fluid px-0 mx-0'>
        <div class='bg-image'>
          <img src="{% static 'images/black_pattern.png' %}" style='height: 100px; object-fit: cover; width: 100%'/>
          <div class='mask' style="background-color: rgba(0, 0, 0, 0.1)"></div>
        </div>
      </div>
      <div class='container-fluid' style='background-color: #D8D8D8'>
        <div class='container marketing'>
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading pt-4 mt-0">{% trans 'Appraise repair' %}<p><span>{% trans 'Of your car' %}</span></p></h2>
              <p class="lead">{% trans "Don't waste time and energy, going from one garage to another for appraise" %}! 
                {% trans 'Thanks to this form, I will prepare an appraise of your car and all this without leaving your house' %}. 
                {% trans "I'll asses how much the repair will cost" %}.
                {% trans "How much does the valuation costs? Nothing, it's fully free and non-binding" %}!</p>
              <p class=""><b>{% trans 'Step 1: Fill up the form' %}</b> – {% trans 'Tell me about your car (make, model, year, etc.) and write what type of repair you need' %}. 
                {% trans 'The more detailed, the easier it will be to make precise valuation' %}.</p>
              <p class=''><b>{% trans 'Step 2: Click “Send“' %}</b> – {% trans 'Like this, your message will be delivered' %}. 
                {% trans 'I will reply as soon as possible, how much the repair will cost' %}.</p>
            </div>
            <div class="col-md-5">
              {% block style_for_contact %}<link href="{% static 'contact_formm.css' %}" rel="stylesheet">{% endblock style_for_contact %}
              <form method='POST' action="{% url 'home' %}">
                {% csrf_token %}
                {{form.non_field_errors}}
                <div class="contact-form pt-4">
                  <div class="form-field">
                    <label class='label' for="{{ form.client_email.id_for_label }}">{% trans 'Email address' %}</label>
                    {{ form.client_email }}
                  </div>
                  <div class="form-field mt-2">
                    <label class='label' for="contact_message">{% trans 'Message' %}</label>
                    {{ form.contact_message }}
                  </div>
                  <div class="form-field">
                    <button class="submit-btn mt-2" type="submit" name="">{% trans 'Send' %}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id='app' class='container marketing'>
        <hr>
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{% trans 'Are you a mechanic?' %} <span class="text-muted">{% trans 'Check out the app.' %}</span></h2>
            <p class="lead">{% trans 'Do you like to have everything at hand' %}? {% trans 'Good! Because i have an app for you, which will make your everyday work easier and help you remember all cars' %}, 
              {% trans 'that you have fixed and make a database of all your clients' %}. 
              {% trans 'And all that is completly free' %}!</p>
              <div class='contact-form'>
                <div class='form-field'>
                  <a class='submit-btn' href="{% url 'register' %}" role='button'>{% trans 'Register'%}</a>
                </div>
              </div>
          </div>
          <div class="col-md-5 order-md-1">
            <div style='padding-top: 0.5cm; padding-bottom: 0.5cm'>
              <span style='white-space: pre-line'><b>1. {% trans 'Client management' %}</b>
                -{% trans 'adding new clients' %}
                -{% trans 'client data edition' %}
                -{% trans 'client orders history' %}
                -{% trans 'tasks to complete for every client' %}
                
                <b>2. {% trans 'Order management' %}:</b> 
                -{% trans 'creating new orders' %}
                -{% trans 'order valuation' %}
                -{% trans 'orders edition' %}
                -{% trans 'invoice printing' %}
                -{% trans 'current orders history' %}
                
                <b>3. {% trans 'Cars database' %}:</b>
                - {% trans 'car repairment history' %}
                
                <b>4. {% trans 'Accounting' %}:</b>
                -{% trans 'creating estimations for client' %},
                -{% trans 'cost breakdown' %}  
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class='container-fluid' style='background-color: #EDEDED'>
        <div id='map' class='container pb-4 pt-4'>
          {{map|safe}}
        </div>
      </div>
        <!-- <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>
        <hr class="featurette-divider"> -->
    </section>
  </body>

  {% endblock %}
