{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}San Diego{% endblock %}

{% block content %}
  <body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class='my-image' style='' src="{% static 'images/carousel1.jpg' %}" alt="">
        </div>
    </div>
    <section>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing" style="maring-bottom: 0">
        <!-- Three columns of text below the carousel -->
      <div class="row pt-4">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/header1.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>{% trans 'Naprawa' %}</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/header2.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>{% trans 'Klimatyzacja' %}</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="{% static 'images/header3.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>{% trans 'Diagnostyka' %}</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <!-- START THE FEATURETTES -->
      <hr style='color: white'>
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{% trans 'Wyceń naprawę' %}<p><span>{% trans 'Twojego auta' %}</span></p></h2>
            <p class="lead">{% trans 'Nie trać czasu i energii jeżdżąc do kilku warsztatów po wyceny' %}! {% trans 'Dzięki temu formularzowi przygotuję dla Ciebie wycenę naprawy Twojego pojazdu, a wszystko to bez wychodzenia z domu' %}. 
              {% trans 'Oszacuję dla Ciebie, ile będzie kosztować naprawa' %}.
              {% trans 'Ile kosztuje ta wycena? Nic, bo jest całkowicie darmowa i niezobowiązująca' %}!</p>
            <p class=""><b>{% trans 'Krok 1: Wypełnij formularz' %}</b> – {% trans 'Opowiedz mi o swoim pojeździe (marka, model, rok, itp.) i napisz jakiego rodzaju naprawy potrzebujesz' %}. 
              {% trans 'Im bardziej drobiazgowo to zrobisz, tym łatwiej będzie mi dokonać prawidłowej wyceny naprawy' %}.</p>
            <p class=''><b>{% trans 'Krok 2: Kliknij “Wyślij”' %}</b> – {% trans 'W ten sposób twoja wiadomość zostanie dostarczona' %}. 
              {% trans 'Odpowiem możliwie szybko, ile będzie kosztować naprawa' %}.</p>
          </div>
          <div class="col-md-5">
            {% block style_for_contact %}<link href="{% static 'contact_form.css' %}" rel="stylesheet">{% endblock style_for_contact %}
              <div class="contact-form" style='margin-top: 4.5cm'>
                <div class="form-field">
                  <label class='label' for="email">{% trans 'Email address' %}</label>
                  <input type="email" class="text-input" id="email" placeholder="">
                </div>
                <div class="form-field mt-2">
                  <label class='label' for="exampleFormControlTextarea1">{% trans 'Message' %}</label>
                  <textarea class="textarea-input" id="exampleFormControlTextarea1" rows="7" placeholder=''></textarea>
                </div>
                <div class="form-field">
                  <button class="submit-btn mt-2" type="submit" name="">{% trans 'Send' %}</button>
                </div>
              </div>
          </div>
        </div>
        <hr>
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{% trans 'Jesteś mechanikiem?' %} <span class="text-muted">{% trans 'Sprawdź aplikację.' %}</span></h2>
            <p class="lead">{% trans 'Lubisz mieć wszystko pod ręką' %}? {% trans 'Świetnie! Bo mam dla Ciebie aplikacje, która ułatwi Ci pracę na co dzień i pomoże zapamiętać wszystkie samochody' %}, 
              {% trans 'które naprawiłeś, a także stworzyć bazę danych swoich klientów' %}. 
              {% trans 'A to wszystko bezpłatnie' %}!</p>
              <div class='contact-form'>
                <div class='form-field'>
                  <a class='submit-btn' href="{% url 'register' %}" role='button'>{% trans 'Register'%}</a>
                </div>
              </div>
          </div>
          <div class="col-md-5 order-md-1">
            <div style='padding-top: 1cm'>
              <span style='white-space: pre-line'><b>1. Zarządzanie klientami</b>
                -dodawanie nowych klientów
                -edycja danych klientów
                -historia zleceń klientów
                -zadania do wykonania dla każdego klienta
                
                <b>2. zarządzanie zleceniami:</b> 
                -tworzenie nowych zleceń
                -wycenę zleceń
                -edycja nowych zleceń
                -wydruk protokołów dla klientów
                -historia dotychczasowych zleceń
                
                <b>3. Baza pojazdów:</b>
                - historia napraw pojazdu
                
                <b>4. Rachunkowość:</b>
                -tworzenie wyceny, kosztorysu dla danego klienta,
                -zestawienie kosztów  
            </div>
          </div>
        </div>
        <hr class='pt-2 mb-0'>
        <!-- <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>
        <hr class="featurette-divider"> -->
      </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock %}
