{% extends 'san_diego/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Add service' %}{% endblock %}

{%block content %}
<style>
    .hidden {
        display: none
    }
</style>
<div class='container'>
    <h1 class='mt-4'>{{ car.client }} | {{ car.car_make }} {{ car.car_model }}</h1>
    <form id='main_form' method='POST' action="" enctype='multipart/form-data' id='carForm' data-carmodels-url="{% url 'ajax_load_car_models' %}">
        <hr class='mb-4'>
        {% csrf_token %}
        <!-- SERVICE FORM -->
        {{ form.management_form }}
        {{ form.non_form_errors }}
        <div id='services'>
        {% for form in form %}
            {{form.id}}
            {{ form.errors|as_crispy_errors }}
            <div class='services-form'>
                <div class='form-row'>
                    <div class='form-group col-md-8 mb-3'>
                        {{ form.service_name }}
                    </div>
                    <div class='form-group col-md-3 mb-3'>
                        {{ form.service_price }}
                    </div>
                    <div class='form-group col-md-1'>
                        {{ form.DELETE }} {{form.DELETE.label}}
                    </div>
                    <!-- <div class='form-group col-md-1 mb-3'>
                        <button type="button" class="btn btn-link text-danger delete-service"><i class='bx bx-minus'></i></button>
                    </div> -->
                </div>
            </div>
        {% endfor %}
        </div>
        <div id='empty_form' class='hidden'>
            {% comment %} {% for field in form.empty_form %} {% endcomment %}
                <div class='form-row'>
                    <div class='form-group col-md-8 mb-3'>
                        {{ form.errors|as_crispy_errors }}
                        {{ form.empty_form.service_name }}
                    </div>
                    <div class='form-group col-md-3 mb-3'>
                        {{ form.empty_form.service_price }}
                    </div>
                    <div class='form-group col-md-1'>
                        {{ form.empty_form.DELETE }} {{ form.empty_form.DELETE.label }}
                    </div>
                    <!-- <div class='form-group col-md-1 mb-3'>
                        <button type="button" class="btn btn-link text-danger delete-service"><i class='bx bx-minus'></i></button>
                    </div> -->
                </div>
            {% comment %} {% endfor %} {% endcomment %}
        </div>
        <!-- CARPARTS FORM -->
        {{formset.management_form}}
        {{formset.non_form_errors}}
        <div id='parts'>
            {%for form in formset%}
                {{form.id}}
                {{form.errors|as_crispy_errors}}
                <div class='parts-form'>
                    <div class='form-row'>
                        <div class='form-group col-md-7 mb-3'>
                            {{ form.car_part }}
                        </div>
                        <div class='form-group col-md-3 mb-3 ml-auto'>
                            {{ form.part_price }}
                        </div>
                        <div class='form-group col-md-1'>
                            {{ form.DELETE }} {{ form.DELETE.label }}
                        </div>
                        <!-- <div class='form-group col-md-1 mb-3'>
                            <button type="button" class="btn btn-link text-danger delete-service"><i class='bx bx-minus'></i></button>
                        </div> -->
                    </div>
                </div>
            {%endfor%}
        </div>
        <div id='empty_formset' class='hidden'>
            <div class='form-row'>
                <div class='form-group col-md-7 mb-3'>
                    {{ formset.errors|as_crispy_errors }}
                    {{ formset.empty_form.car_part }}
                </div>
                <div class='form-group col-md-3 mb-3 ml-auto'>
                    {{ formset.empty_form.part_price }}
                </div>
                <div class='form-group col-md-1'>
                    {{ formset.empty_form.DELETE }} {{ formset.empty_form.DELETE.label }}
                </div>
                <!-- <div class='form-group col-md-1 mb-3'>
                    <button type="button" class="btn btn-link text-danger delete-service"><i class='bx bx-minus'></i></button>
                </div> -->
            </div>
        </div>
        <hr/>
        <div class='row'>
            <button type='submit' class='btn btn-success mt-2 ml-3'>{% trans 'Save' %}</button>
            {% comment %} <button type='submit' name='another' class='btn btn-outline-success mt-2 ml-2'>Save and add another</button> {% endcomment %}
            <button id='add_service' type='button' class='btn btn-outline-success mt-2 ml-2'>{% trans 'Add service' %}</button>
            <buttton id='add_part' type='button' class='mt-2 btn btn-link text-info ml-auto'><i class="fas fa-plus"></i> {% trans 'Add part' %}</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    // <!-- JS for adding new PART formsets via button -->
    const addMorePartsBtn = document.getElementById('add_part')
    const totalNewFormsets = document.getElementById('id_carpart_formset-TOTAL_FORMS')

    addMorePartsBtn.addEventListener('click', add_new_formset)
    function add_new_formset(event) {
        if (event) {
            event.preventDefault()
        }
        const currentPartForms = document.getElementsByClassName('parts-form')
        const currentFormCount = currentPartForms.length //+1
        const formCopyTarget = document.getElementById('parts')
        const copyEmptyFormEl = document.getElementById('empty_formset').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'parts-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewFormsets.setAttribute('value', currentFormCount + 1)

        formCopyTarget.append(copyEmptyFormEl)
    }
    // <!-- JS for adding new SERVICE formsets via button -->
    const addMoreBtn = document.getElementById('add_service')
    const totalNewForms = document.getElementById('id_service_formset-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_form)
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const currentServiceForms = document.getElementsByClassName('services-form')
        const currentFormCount = currentServiceForms.length //+1
        const formCopyTarget = document.getElementById('services')
        const copyEmptyFormEl = document.getElementById('empty_form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'services-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)

        formCopyTarget.append(copyEmptyFormEl)
    }

    //<!-- DELETION SCRIPTS -->
    let serviceFormCount = servicesForm.length -1;
    const serviceForm = document.getElementById('services')
    const deleteService = document.querySelector('#services')


    deleteService.addEventListener("click", function (event) {
        if (event.target.classList.contains("delete-service")) {
            event.preventDefault();
            event.target.parentElement.remove();
            formCount--;
            totalNewForms.setAttribute('value', `${formCount + 1}`);
            updateForms();
        }
    });
    function updateForms() {
        let count = 0;
        for (let form of serviceForm) {
            const formRegex = RegExp(`form-(\\d){1}-`, 'g');
            form.innerHTML = form.innerHTML.replace(formRegex, `form-${count++}-`)
        }
    }


</script>
{% endblock content %}