{% extends 'san_diego/base.html' %}

{% block title %}Service history{% endblock %}

{% block content %}
<div class='container'>
  <h2 class='mt-4 mb-2 text-center'>{{ car }}</h2>
  <hr/>
  <!--  Pginator start  -->
  <div class='row justify-content-end'>
    <div class='col'>
    {% if is_paginated %}
        {% include 'san_diego/pagination.html' %}
    {% endif %}
    </div>
    <a href="{% url 'service_add' uuid=car.uuid %}" role='button' class='text-info mt-2 mr-4 mb-2'><i class="fas fa-plus"></i>Add service</a>
  </div>
  <style>
    hr.dashed {
      border-top: 2px dashed #999;
    }
  </style>
  <!--  Paginator end -->
  {% comment %} <form method='post' action="{% url 'invoice' uuid=car.uuid date= %}"> {% endcomment %}
  {% regroup services by date_added as service_list %}
  {% regroup carparts by pdate_added as carparts_list %}
  {%csrf_token%}
  {% for date_added in service_list %}
  <div class="accordion" id="accordionExample">
    <div class="card text-center">
      <div class="card-header" id="heading{{forloop.counter}}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
            {{date_added.grouper}}
          </button>
        </h2>
      </div>
  
      <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionExample">
        <div class="card-body">
          <div class='row'>
            <div class="col-sm-6">
              <h5>Service</h5>
            </div>
            <div class="col-sm-6 border-left">
              <h5>Price</h5>
            </div>
          </div>
          <hr>
          {% for service in date_added.list %}
            <div class='row'>
              <div class="col-sm-6">
                <p class='font-italic'>{{ service }}</p>
              </div>
              <div class="col-sm-6 border-left">
                <p class='font-italic'>{{ service.service_price }}</p>
              </div>
            </div>
          {% endfor %}
          {% for total in services_total_price_perday %}
            {% if total.date_added == date_added.grouper %}
              <div class='row'>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                  <h6 class='ml-4 pl-4 mb-2'>&ensp; Services total: &ensp; &ensp;{{ total.sum }}</h6>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <hr class='dashed mb-2'>
          <div class='row mt-4'>
            <div class="col-sm-6">
              <h5>Part</h5>
            </div>
            <div class="col-sm-6 border-left">
              <h5>Price</h5>
            </div>
          </div>
          <hr>
          {% for pdate_added in carparts_list %}
          {% if pdate_added.grouper == date_added.grouper %}
            {% for part in pdate_added.list %}
              <div class='row'>
                <div class="col-sm-6">
                  <p class='font-italic'>{{ part.car_part }}</p>
                </div>
                <div class="col-sm-6 border-left">
                  <p class='font-italic'>{{ part.part_price }}</p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% endfor %}
          {% for total in parts_total_price_perday %}
            {% if total.pdate_added == date_added.grouper %}
              <div class='row'>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                  <h6 class='ml-4 pl-4 mb-2'>&ensp; Parts total: &ensp; &ensp; {{ total.sum }}</h6>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% for total in total %}
            {% if total.date == date_added.grouper %}
              <div class='row'>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                  <h5 class='ml-4 pl-4 mb-2 mt-4'>&ensp; Total: &ensp; &ensp; {{ total.total }}</h5>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <div class='row justify-content-end'>
            <a href="{% url 'service_edit' uuid=car.uuid date=date_added.grouper %}" role='button' class='text-info mt-2'><i class="far fa-edit"></i></a>
            <a href ="{% url 'invoice' uuid=car.uuid date=date_added.grouper %}" role='button' class='text-info mt-2 ml-2'><i class='bx bx-printer'></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MARGIN BOTTOM BELOW EVERY ACCORDION ITEM -->
  <div class='mb-1'></div>
  {% endfor %}
</div>
{% endblock %}